@charset "utf-8";

i {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

button {
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 16px;
	color: #FFF;
	display: flex;
	margin: 0;
	padding: 2px;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

button:active {
	background-color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

button:focus {
	outline: none;
}
