@charset "utf-8";

div#container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #DDD;
	color: #AAA;
}

div#container.closed {
	display: none;
}

div#actions {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

p,
ul {
	flex-grow: 1;
}

p,
li {
	color: #FFF;
	padding: 10px;
}

div#container.error,
p.error,
li.error {
	background-color: #F65656;
}

div#container.success,
p.success,
li.success {
	background-color: #29D885;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

div#container.collapsed ul,
div#container.collapsed button#collapse,
div#container.expanded p,
div#container.expanded button#expand {
	display: none;
}
