@charset "utf-8";

#container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background-color: #666;
	color: #AAA;
}

#container.closed {
	display: none;
}

#status {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
}

#actions {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 5px;
}

#actions > * {
	margin: 0 2px;
}

#last-announcement {
	flex-grow: 1;
}

#last-announcement,
#announcements li {
	color: #FFF;
	padding: 10px;
}

#container.error,
#announcements li.error {
	background-color: #F65656;
}

#container.success,
#announcements li.success {
	background-color: #29D885;
}

#announcements {
	list-style: none;
	margin: 0;
	padding: 0;
}

#container.collapsed #announcements,
#container.collapsed #collapse,
#container.expanded #last-announcement,
#container.expanded #expand {
	display: none;
}
